<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar-geral">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Sistema de Vendas</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/clientes}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/produtos}">Produtos</a>
                    </li>
                </ul>
                
                <form class="d-flex" th:action="@{/logout}" method="post">
                    <span class="navbar-text me-3 text-white">
                        Olá, <strong sec:authentication="name">Usuário</strong>!
                    </span>
                    <button type"submit" class="btn btn-outline-light">Sair</button>
                </form>
            </div>
        </div>
    </nav>

</body>
</html>