<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8" />
    <title>Listagem de clientes</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar-geral}"></div>

    <div class="container mt-4">
        <h1>Clientes</h1>
        
        <a class="btn btn-primary mb-3" th:href="@{/clientes/novo}"
           sec:authorize="hasRole('ADMIN')">
           Novo cliente
        </a>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th sec:authorize="hasRole('ADMIN')">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.id}">---</td>
                    <td th:text="${cliente.nome}">---</td>
                    <td th:text="${cliente.cpf}">---</td>
                    <td th:text="${cliente.email}">---</td>
                    <td th:text="${cliente.telefone}">---</td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-sm btn-warning"
                           th:href="@{/clientes/editar/{id}(id=${cliente.id})}">Editar</a>
                        <a class="btn btn-sm btn-danger"
                           th:href="@{/clientes/deletar/{id}(id=${cliente.id})}">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>