<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
    <meta charset="UTF-8">
    <title>Início - Sistema de Vendas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar-geral}"></div>

    <div class="container mt-5">
        <div class="p-5 mb-4 bg-gray rounded-3">
            
            <div class="container-fluid py-5 text-center">
                <h1 class="display-5 fw-bold">Bem-vindo ao Sistema de Vendas</h1>

                <p class="col-md-8 fs-4 mx-auto" sec:authorize="hasRole('ADMIN')">
                    Utilize a barra de navegação acima para gerenciar clientes e produtos.
                </p>
                
                <p class="col-md-8 fs-4 mx-auto" sec:authorize="hasRole('PADRAO')">
                    Utilize a barra de navegação acima para acessar os produtos.
                </p>
                
                <p>Usuário logado: <strong sec:authentication="name"></strong></p>
            </div>
        </div>
    </div>
</body>

</html>